/* Project Meta */

/* reset  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* general */

.hero-end > img {
  width: 100%;
}

/* typography */

/* grid */

/* header */

/* footer */

/* Page template A */

/* Page template B */

/* Media Queries */
